<div>
    TEST VIEW of clothes detail
</div>>

<p>
   <%= clothes.name %>
</p>
   
<p>
    <%= clothes.designer %>
 </p>

 <p>
    <%= clothes.rating %>
 </p>

 <p>
    <%= clothes.stock %>
 </p>

 <p>
    <%= clothes.category %>
 </p>

 <p>
    <%= clothes.price %>
 </p>

 <button class="btn-primary btn-update"><a href="<%= clothes.url %>/update">Update Clothes</a></button>


 <button class="btn-primary btn-delete"><a href="<%= clothes.url %>/delete">delete Clothes </a></button>