<div>
    TEST VIEW of clothes list
</div>>

<ul> 
    <% for(const clothes of clothes_list){ %>
        <li>
          <%= clothes.name %> 
        </li>

        <li>
            <%= clothes.designer %> 
        </li>

        <li>
            <%= clothes.rating %> 
        </li>

        <li>
            <%= clothes.stock %> 
        </li>

        <li>
            <%= clothes.category %> 
        </li>

        <li>
            <%= clothes.price %> 
        </li>    

        <a href = <%= clothes.url %>>
            <%= clothes.name %> %>
        </a>
    <% } %>
    <p> BREAKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKUH</p>
</ul>
<!-- 
This file is receiving an object called (clothes_list)

-> SO ITERATE THROUGH THAT OBJECT TO DISPLAY WHAT I NEED TO

//QUESTION: IN EJS, HOW TO ITERATE AND DISPLAY OBJECT AND ITS VALUES

-->